/* start  Global newItem  */
.newItem label,
.MoveQty label {
  text-transform: capitalize;
  font-size: 18px;
  color: #66714b;
  font-weight: 600;
}

.newItem .quantity-group {
  width: 150px;
  margin: 0;
}


.newItem .hide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end Global newItem */
/* General */
.subcategories .css-jtaw72-group {
  font-size: large;
  color: var(--main-color);
  font-weight: bold;
}

.css-d7l1ni-option {}

/* Price */
.newItem .priceInformation .custom {
  width: 25px;
  height: 25px;
}

.newItem .saleSection {
  border: 1px solid #dee2e6;
  margin: 0;
  height: calc(266px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Image */

/* DropZone */
.DropZone {
  padding: 16px;
  margin-top: 10px;
  border: 1px solid #ced4da;
}

.DropZone .drop {
  text-align: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #838383b8;
  outline: none;
  transition: border .24s ease-in-out;
  cursor: pointer;
  -webkit-transition: border .24s ease-in-out;
  -moz-transition: border .24s ease-in-out;
  -ms-transition: border .24s ease-in-out;
  -o-transition: border .24s ease-in-out;
}

.DropZone .BasicImage {
  margin-top: 20px;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
  gap: 15px;
  justify-content: center;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.DropZone .BasicImage img {
  margin: auto;
  max-width: 350px;
}

.DropZone ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  padding: 7px;
}

.DropZone ul li {
  margin-top: 5px;
  width: 150px;
  border: 1px solid #ced4da;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.DropZone .delete-button {
  background-color: #eee;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.DropZone .delete-button:hover {
  background-color: rgba(var(--bs-danger-rgb));
  color: white;
}

.DropZone .rejected .tit {
  padding-left: 5px;
}

.DropZone .rejectedFiles {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DropZone .rejectedFiles .delete-button {
  padding: 5px 15px;
}

/* End DropZone */
/* Store */
.storeDetails table th {
  font-weight: bold;
  font-size: large;
}

.MoveQty select.form-control {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: left .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}



/* Description */